
body {
    margin: 0;
    padding:0;

}

/* -> Home */
.homePage__container{
    /* background-color: #1d96c1; */
    background-image: url("../images/bg.avif");
    height: 100vh;
}

.home_logo{
    height: auto;
    max-width: 50%;
    display: flex;
    opacity: 84%;
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.home-btn {
    width: 20%;
    display: flex;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand {
    align-items: stretch;
    display: flex;
    height: 5rem;
}

.navbar-logo{
    width: 12rem;
    height: 5rem;
}


.list-text{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

a {
    text-decoration: none;
}

.detail-category-title{
    font-weight: 500 ;
}


/* -> Liste all titles */
.manga-list{
    margin-top: 7rem;
}

.content h1{
    text-align: center;
    color: #5A5A5A;
}

.mangaList__container {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 200px;
    height: auto;
    border: 1px solid #c3c0bd;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

.mangaList__title-container {
    text-align: center;
}


.mangaList__title {
    color: #000000;
    text-align: center;
    font-weight:700;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;

}

.mangaList__img {
    width: 100%;
    height: auto;
}

button {
    margin-bottom: 2px;
    font-weight: 600;
    border: none;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    letter-spacing: .08rem;
    background-color: #58b3d3;
    border-radius: .35rem;
    position: relative;
    cursor: pointer;
}

.style-5 {
    &::after {
        border: 0;
        box-shadow: 0px 0px 0px border-width black;
        top: .5rem;
        left: .5rem;
    }

    &:hover{
        background-color: pink;
        border:0;
        &::after{
            background-color: black;
            box-shadow: none;
        }
    }

}

.add-manga-btn {
    position: fixed;
    right: 0;
}
/* -> Tags */
.manga__category {
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    gap: 5px;
    list-style-type: none;
}

.manga__category__yaoi {
    background-color: #980763;
    border: #980763;
    color: #ffffff;
    border-radius: 25px;
    width: 60px;
    text-align: center;
    padding: 2px;
}

.manga__category__josei {
    top: 30px;
    right: 5px;
    background-color: #ff9662;
    border: #ff9662;
    color: #ffffff;
    border-radius: 25px;
    width: 60px;
    text-align: center;
    padding: 2px;
}

.manga__category__shonen {
    background-color: #0c796b;
    border: #0c796b;
    color: #ffffff;
    border-radius: 25px;
    width: 70px;
    text-align: center;
    padding: 2px;
}

.manga__category__seinen {
    background-color: #002e4b;
    border: #002e4b;
    color: #ffffff;
    border-radius: 25px;
    width: 70px;
    text-align: center;
    padding: 2px;
}

.manga__category__shojo {
    background-color: #ff5475;
    border: #ff5475;
    color: #ffffff;
    border-radius: 25px;
    width: 70px;
    text-align: center;
    padding: 2px;
}

.manga__category__slice-of-life {
    background-color: #1a73b4;
    border: #1a73b4;
    color: #ffffff;
    border-radius: 25px;
    width: 100px;
    text-align: center;
    padding: 2px;
}

.manga__category__shonen-ai {
    background-color: #FFD700;
    border: #FFD700;
    color: #ffffff;
    border-radius: 25px;
    width: 100px;
    text-align: center;
    padding: 2px;
}

.manga__category__omegaverse {
    background-color: #000000;
    border: #000000;
    color: #ffffff;
    border-radius: 25px;
    width: 100px;
    text-align: center;
    padding: 2px;
}

.manga__category__mecha {
    background-color: #AFE1AF;
    border: #AFE1AF;
    color: #ffffff;
    border-radius: 25px;
    width: 70px;
    text-align: center;
    padding: 2px;
}

.manga__category__historical {
    background-color: #95A5A6;
    border: #95A5A6;
    color: #ffffff;
    border-radius: 25px;
    width: 80px;
    text-align: center;
    padding: 2px;
}

/* -> Nav */
.menu {
    display: flex;
    height: 100px;
    padding-right: 10px;
    background-color: #48556A;
    justify-content: flex-end;
    align-items: center;
}

.menu__link {
    text-decoration: none;
    color: #ffffff;
}

.menu__titre{
    color: #ffffff;
    font-family: 'Amatic SC',
    cursive;
    font-size: 1.5em;
    padding: 20px;
}

/* -> Manga detail */
.mangaDetail__container {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    align-items: center;
}

.mangaDetail__img {
    border-radius: 25px;
    padding: 10px;
    width:90%;
    height:auto;
}

.mangaDetail__title{
    font-size: 1.2em;
    font-weight: 700;
    padding-left: 15px;
}

.mangaDetail__category-liste {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}


/* -> All Catégories */
.categories__container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Rubik', sans-serif;
    margin: 7rem;
    gap: 10px;
}

.categories__item{
    width: 150px;
    height: 40px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    border-radius: 15px;
    padding: 3%;
}


/* -> Mangas par Category */
.liste-bd-tag{
    margin-top:7rem ;
}

.liste-bd-tag-header {
    margin-right: 5rem;
    margin-left: 5rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.list-bd-return{
    text-decoration: underline;
}

.tag-item {
    width: 100px;
    height: 30px;
}

.manga__tag-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.manga__card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid #000000;
    width: 200px;
    font-family: 'Rubik', sans-serif;
    margin: 1%;
}

.manga__card-info{
    display: flex;
    flex-direction: column;
}

.manga__card-image {
    width: 100%;
}

/* -> Register */
.register__form{
    width: 800px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top:7%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border: 1px solid #000000;
    border-radius: 15px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.register__form-left {
    border-radius: 15px;
    width: 50%;
    background-color: #ffffff;
}

.register__form-right{
    border-radius: 15px;
    width: 50%;
    background-color: #E9DACB;
}

.register__form-title{
    font-size: 1.5em;
}

.register__form-infos{
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register__form-button{
    background-color: #F2EEE3;
    font-size: 1em;
    font-weight: 400;
    width: 100px;
    border: 2px solid #48556A;
    border-radius: 50px;
}

/* -> Login */
.login-form{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 7rem;
}

/* -> Add Manga Form */
.add-manga-form{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 7rem;
    line-height: 30px;
}