<body>
<div class="menu">
    <div class="menu__titre"> <a class="menu__link" href="/"> Home </a></div>
    <div class="menu__titre"> <a class="menu__link" href="/admin/addManga/"> Add new manga </a> </div>
    <div class="menu__titre"> <a class="menu__link" href="/categories"> Categories </a> </div>
</div>