
<%- include ('partials/header') %>

<%- include ('partials/menu') %>

<div class="add-manga-form">
    <div class="content is-small">
        <h2 class="subtitle"> Ajouter un titre à la mangathèque </h2>
    </div>

    <% if(locals.message) {%>
        <%- message %>
   <% }%>

    <% if(locals.error) {%>
        <%- error %>
            <% }%>

    <form method="POST">
        <!-- Titre Japonais-->
        <div class="field">
            <label for="jp-name" class="label">Japanese title (ロマジ)</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Japanese Title" id="jp-name" name="title">
                </div>
        </div>

        <!-- Titre -->
        <div class="field">
            <label for="foreign-name" class="label">Foreign title</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Foreign title" id="foreign-name" name="original_title">
                </div>
        </div>

        <!-- Format -->
        <div class="control">
            <legend class="has-text-weight-bold"> Format </legend>
                <label for="manga" class="radio">
                    <input type="radio" name="format" id="manga">
                    Manga
                </label>
                <label for="webtoon" class="radio">
                    <input type="radio" name="format" id="webtoon">
                    Webtoon
                </label>
                <label for="film" class="radio">
                    <input type="radio" name="format" id="film">
                    Film
                </label>
                <label for="anime" class="radio">
                    <input type="radio" name="format" id="anime">
                    Anime
                </label>
        </div>

        <!-- Status -->
        <div class="control">
            <legend class="has-text-weight-bold"> Status </legend>
                <label for="finished" class="radio">
                    <input type="radio" name="status" id="finished">
                    Finished
                </label>
                <label for="ongoing" class="radio">
                    <input type="radio" name="status" id="ongoing">
                    Ongoing
                </label>
        </div>

        <!-- Auteur -->
        <div class="field">
            <label for="author" class="label"> Author</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Author" id="author" name="author">
                </div>
        </div>

        <!-- Image -->
        <div class="field">
            <label for="image" class="label"> Link image</label>
                <div class="control">
                    <input class="input" type="text" placeholder="image" id="image" name="image">
                </div>
        </div>

        <!-- Submit -->
        <button class="button is-primary">Add manga +</button>
    </form>
</div>
</body>

</html>