
<%- include ('partials/header') %>

<body>
    <div class="homePage__container">
        <p class="homePage__title__container">
            <h1 class="title"> Crissou's Bookcase</h1>
        </p>
        <nav class="homePage__nav">
            <p class="homePage__subtitle">
                <a class="homePage__link" href="/list"> Access to all titles</a>
            </p>
            <p class="homePage__subtitle">
                <a class="homePage__link" href="/admin/addManga/"> Add a new manga</a>
            </p>
        </nav>
    </div>
</body>
</html>