
<%- include ('partials/header') %>

<body>
    <div class="homePage__container">
        <img class="home_logo" src="/images/logo-white-banner.png" alt="logo">
        <a href="/list/">
            <button class="home-btn button is-danger is-large is-focused">
                Discover
            </button>
        </a>
    </div>

<%- include ('partials/footer') %>