
<%- include ('partials/header') %>

<body>
    <h1 class="title"> Welcome to my manga sekai</h1>
    <p class="subtitle"> <a href="/list">Voir la liste de tous les mangas dans ma bibliothèque</a></p>
    <p class="subtitle"> <a href="/admin/addManga/"> Ajouter un nouveau manga</a></p>
</body>
</html>