
<%- include ('partials/header') %>

<h4> <%= foundManga.nom_japonais %> </h4>
<p class="detail-category">
   <span class="detail-category-title"> Genre : </span>  <%= foundManga.genres %>
</p>
<p class="detail-category">
    <span class="detail-category-title">Status : </span><%= foundManga.lecture_manga %>
</p>
