
<%- include ('partials/header') %>

<%- include ('partials/menu') %>

<main class="search-form-container">
    <div>
        <p class="is-size-5 search-form-title"> Tu peux aussi chercher un manga directement, utilise la barre de recherche  </p>
    </div>
    <div class="control">
        <form class="search-form" method="POST">
            <input class="input is-hovered search-input" type="text" placeholder="Chercher un manga">
            <button class="button is-info"> Valider </button>
        </form>
    </div>
</main>

<%- include ('partials/footer') %>